absl-py
astor
astunparse
contourpy
cycler
docopt
fonttools
gast
google-pasta
grpcio
h5py
importlib-resources
Keras-Applications
Keras-Preprocessing
kiwisolver
matplotlib
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-tensorflow
opt-einsum
packaging
pandas
Pillow
protobuf
pyparsing
python-dateutil
pytz
rdkit
scipy
six
tensorboard
tensorflow-estimator
tensorrt
tensorrt-bindings
tensorrt-libs
termcolor
tzdata
wrapt
zipp
